name: TDR Tag and pre deploy
on:
  push:
    branches:
      - master
permissions:
  id-token: write
  contents: write
jobs:
  pre-deploy:
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_build.yml@cd362ffa9386c007c816bfd15a25b6f0a3c3b3d6 # v0.0.14
    with:
      lambda-name: file-format-v2
      repo-name: tdr-file-format
      artifact-name: file-format
      java-version: '21'
      build-command: |
        DROID_VERSION=$(grep 'droid.version' src/main/resources/application.conf | head -1 | sed 's/.*= *"\(.*\)"/\1/')
        DROID_DOWNLOAD_NAME=$(grep 'droid.signature.name' src/main/resources/application.conf | head -1 | sed 's/.*= *"\(.*\)"/\1/')
        CONTAINERS_VERSION=$(grep 'containers.version' src/main/resources/application.conf | head -1 | sed 's/.*= *"\(.*\)"/\1/')
        CONTAINERS_DOWNLOAD_NAME=$(grep 'containers.signature.name' src/main/resources/application.conf | head -1 | sed 's/.*= *"\(.*\)"/\1/')
        curl -L "https://cdn.nationalarchives.gov.uk/documents/${DROID_DOWNLOAD_NAME}${DROID_VERSION}.xml" -o "src/main/resources/${DROID_DOWNLOAD_NAME}${DROID_VERSION}.xml"
        curl -L "https://cdn.nationalarchives.gov.uk/documents/${CONTAINERS_DOWNLOAD_NAME}${CONTAINERS_VERSION}.xml" -o "src/main/resources/${CONTAINERS_DOWNLOAD_NAME}${CONTAINERS_VERSION}.xml"
        sbt assembly
    secrets:
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
  deploy:
    needs: pre-deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: gh workflow run deploy.yml -f environment=intg -f to-deploy=${{ needs.pre-deploy.outputs.next-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
