name: TDR Run Lambda Tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@f52edf22c81f568202369a3b31da0277541b0507 # v0.0.11
    with:
      repo-name: tdr-file-format
      java-version: '21'
      test-command: |
        AWS_REGION=eu-west-2 AWS_ACCESS_KEY_ID=test AWS_SECRET_ACCESS_KEY=test sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
